html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: #be3144;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#navbar ul {  
    display: flex;
    margin-right: 50px;
}

#navbar ul li {
    list-style-type: none;  
}

#navbar a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 2.2rem;
    padding: 2rem;  
}

#navbar a:hover {
    background-color: #45567d;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(
62deg, #3a3d40 0%, #181719 100%);
}

#welcome-section h1 {
    color: white;
    font-size: 6rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

#welcome-section p {
    color: #be3144;
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    text-align: center;
}

article {
    background-color: #45567d;
    text-align: center;
    padding: 10rem 2rem;
}

article h2 {
    color: white;
    font-size: 3.5rem;
    border-bottom: 2px solid white;
    max-width: 640px;
    margin: 0 auto 6rem auto;  
}

#projects a img  {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;  
}

#projects a p {
    padding: 15px 0;
    background-color: #303841;
    font-family: sans-serif;
}

.code {
    color: #303841;
    transition: color 0.3s ease-out;
}

#projects .project-tile {
    background-color: #303841;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}


#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

article .button {
    display: block;
    text-align: center;
    width: 100px;
    margin: 80px auto;
    margin-bottom: 0;
    background-color: #303841;
    color: white;
    font-size: 2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5%;
    text-decoration: none
}

article .button:hover {
    background-color: #be3144;
    transition: background 0.3s ease-out;
}

article button .arrow {
    font-weight: 800;
}

footer {
    color: white;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(
62deg, #3a3d40 0%, #181719 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

footer .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

footer .contacts header {
    margin-top: 40vh;
    font-size: 7rem;
    font-family: sans-serif;
    font-weight: 500;
}
footer .contacts p {
    font-size: 1.8rem;
    font-style: italic;  
}

footer .contacts .github {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 2.4rem;
    padding: 20px;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

footer .end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 2rem;
    padding: 20px;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    margin-bottom: 0;
    border-top: 5px solid #be3144;
}

footer .end p {
    margin-right: 120px;
}

@media (max-width: 400px) {}


